.sessionbuilder-container {
  display: flex;
  width: 90%;
  margin: 1.5rem auto;
  background-color: #f7f9fc;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.sessionbuilder-form {
  flex: 4; 
  padding: 1rem;
  border-right: 2px solid #ccc;
}

.mesocycle-about {
  text-align: center;
}

.mesocycle-name {
  margin: 0.2rem;
  padding: 0rem;
}
.mesocycle-date-range {

  font-size: 20px;
  margin: 0.2rem;
}

.week-navigation {
  text-align:center;
}
.week-navigation button {
  margin: 0.5rem;
}
.muscle-group-totals {
  flex:1;
  padding: .6rem;
  margin:1rem;
  background-color: white;
  border-radius: 0.3rem;
  border: 3px solid #004d9f;
  font-size: 17px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 

}
.muscle-group-totals h3 {
  text-align: center;
  margin: 0.5rem;
  text-decoration: underline;
}

.muscle-groups-container {
  display: flex; 
  justify-content: space-between; 
  padding: 0.4rem;
  margin: 0rem 1rem;
  
}

strong {
  flex-grow: 1;
}

.sets-count {
  margin-left: 10px;
}
/* General Form Styles */
.sessionbuilder-form form {
  max-width: 800px;          
  margin: 20px auto;          
  padding: 20px;             
  background-color: white;
  border-radius: 8px;         
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 3px solid #004d9f;
  
}

.ex-mg-container {
  display:flex;
  justify-content: space-between;
}

.set-input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; 
}

.set-number {
  display: flex;
  flex-direction: column; /* Align label and input vertically */
  text-align: center;
  margin-right: 15px;
  width: 3rem; 
}

.sets {
  display: flex;
  gap: 0px; 
  width: 90%; 
}

.sets input {
  width: 12rem;
  padding: 6px;
  margin: 0 0 0 0.2rem;
  border: none;
  box-sizing: border-box;
  text-align: center;
  background-color: #ededed;
}

.buttons-container {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 1rem;
}
.add-set button {
  border:none;
  border-radius: 0.3rem;
  background-color: rgb(57, 57, 59);
  color:white;
  padding: 8px;
  margin:1rem;

}

.add-set button:hover {
  background-color: #0050a0; 
  transform: scale(1.05); 
}

.remove-ex button {
  border:none;
  border-radius: 0.3rem;
  background-color: rgb(57, 57, 59);
  color:white;
  padding:8px;

}

.remove-ex button:hover {
  background-color: #8a0000; 
  transform: scale(1.05); 
}

.remove-set {
  display:flex;
  margin-left: 0.3rem;
  justify-content: center;
}
.remove-set button {
  background-color: rgb(246, 246, 246);
  color:rgb(188, 0, 0);
  border: 0.1rem solid black;
  border-radius: 0.2rem;

}